:root {
    --cafe-oscuro: #3E2723;
    --dorado: #C5A059;
    --crema-fondo: #F5F5DC;
    --blanco: #FFFFFF;
}

* {
    box-sizing: border-box;
    font-family: 'Cambria', 'Georgia', serif;
}

body {
    background-color: #F9F9F9;
    margin: 0;
    padding: 20px;
    color: var(--cafe-oscuro);
}

.contenedor-principal {
    max-width: 1100px;
    margin: 40px auto;
}

.boton-regreso {
    text-decoration: none;
    color: var(--cafe-oscuro);
    font-weight: bold;
    display: inline-block;
    margin-bottom: 20px;
}

.flex-carrito {
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.seccion-productos {
    background: var(--blanco);
    flex: 2;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    border-top: 6px solid var(--cafe-oscuro);
}

.seccion-productos h2 {
    margin-top: 0;
    border-bottom: 2px solid var(--dorado);
    padding-bottom: 10px;
    font-size: 1.6em;
}

.fila-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #f0f0f0;
}

.info-prod { flex: 2; }
.info-cantidad { flex: 1; max-width: 100px; margin-left: 20px; }

label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #777;
    text-transform: uppercase;
}

.control-formulario {
    width: 100%;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    background-color: #FAFAFA;
}

.btn-vaciar {
    background: white;
    border: 1px solid var(--cafe-oscuro);
    padding: 8px 15px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    color: var(--cafe-oscuro);
}


.seccion-resumen {
    background: var(--crema-fondo);
    flex: 1;
    padding: 25px;
    border-radius: 12px;
    border: 1.5px solid var(--dorado);
    position: sticky;
    top: 20px;
}

.seccion-resumen h3 {
    margin-top: 0;
    font-size: 1.4em;
    border-bottom: 1px solid var(--cafe-oscuro);
    padding-bottom: 10px;
}

.linea-resumen {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 1.1em;
}

.linea-resumen.total {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 20px;
}

#btn-confirmar {
    width: 100%;
    background-color: var(--cafe-oscuro);
    color: white;
    border: none;
    padding: 18px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 20px;
    transition: 0.3s;
}

#btn-confirmar:hover {
    background-color: var(--dorado);
}

.check-terminos {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 11px;
    font-weight: bold;
}
