/* 1. FONDO Y FUENTE */
body {
    background-color: #F5F5DC; /* Crema de la casa */
    font-family: 'Cambria', 'Georgia', serif;
    margin: 0;
    padding: 40px 20px;
    color: #3E2723;
}

/* 2. EL CONTENEDOR (Efecto Tarjeta Elegante) */
.contenedor-reclamo {
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 15px 35px rgba(62, 39, 35, 0.1); /* Sombra color café suave */
    border-top: 8px solid #C5A059; /* Dorado Mate grueso arriba */
}

/* 3. TÍTULO */
h2 {
    color: #3E2723; /* Marrón Oscuro */
    font-size: 26px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* 4. ETIQUETAS */
label {
    display: block;
    margin-bottom: 10px;
    color: #3E2723;
    font-weight: bold;
    font-size: 14px;
}

/* 5. CAMPOS DE TEXTO (Inputs) */
input[type="text"], 
input[type="email"], 
select, 
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    border: 1px solid #D7CCC8; /* Borde café muy claro */
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #FDFDFD;
    font-size: 15px;
    transition: all 0.3s ease;
}

/* Efecto cuando el usuario hace clic para escribir */
input:focus, textarea:focus {
    outline: none;
    border-color: #C5A059; /* Cambia a dorado al escribir */
    background-color: #fff;
    box-shadow: 0 0 8px rgba(197, 160, 89, 0.2);
}

/* 6. BOTÓN ENVIAR (El protagonista) */
input[type="submit"] {
    background-color: #3E2723; /* Marrón Café */
    color: #F5F5DC; /* Texto Crema */
    border: none;
    padding: 18px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background 0.3s ease;
    box-shadow: 0px 4px 0px #261715; /* Sombra sólida para efecto 3D */
}

input[type="submit"]:hover {
    background-color: #C5A059; /* Se vuelve dorado al pasar el mouse */
    color: #3E2723;
}

input[type="submit"]:active {
    transform: translateY(3px);
    box-shadow: none;
}

/* 7. ENLACE DE REGRESO */
a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
    color: #3E2723;
    font-weight: bold;
    font-size: 0.9em;
    border-bottom: 2px solid #C5A059;
    transition: 0.3s;
}

a:hover {
    color: #C5A059;
}
