* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #F5F5DC;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../fondo\ de\ registro.jpg);
    background-size: cover;
}

.volver {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    color: #3E2723;
    font-weight: bold;
    font-size: 14px;
}

.registro-card {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border-top: 5px solid #3E2723;
}

.logo-container img {
    width: 80px;
    margin-bottom: 10px;
    
}

h2 {
    color: #3E2723;
    margin-bottom: 5px;
}

p {
    color: #666;
    font-size: 14px;
    margin-bottom: 30px;
}

.campo {
    text-align: left;
    margin-bottom: 20px;
}

.campo label {
    display: block;
    color: #3E2723;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

input:focus {
    outline: none;
    border-color: #C5A059;
}

.btn-registrar {
    background-color: #3E2723;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    letter-spacing: 1px;
}

.btn-registrar:hover {
    background-color: #C5A059;
}

